button{
    background-color:white ;
    width: 10em;
    padding: 8px 4px;
    
}
button:hover{
    cursor: pointer;
}

.container1{
    display: grid;
    grid-template-areas: 
    "header header" 
    "sideBar homeSection";
    grid-template-columns: 0.5fr 8fr;
    grid-template-rows: 1fr 4fr;
    padding: 0 90px;
    height: 95vh;
}
.header{
    grid-area: "header";
    background-color: green;
    grid-column: span 2;
}
.sideBar{
    /* grid-area: "sideBar"; */
    background-color: red;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    /* align-items: center; */
    justify-content: center;
    /* position: fixed; */
}
.homeSection{
    /* grid-area: "homeSection"; */
    background-color: blue;
    padding: 0 30px;
}
.navbar{
    display: flex;
    gap: 10rem;
    align-items: center;
    justify-content: space-between;

    /* padding: auto; */
}  

.links{
    display: flex;
    gap: 2rem;
    font-size:medium;
}

.link{
    text-decoration: none;

}

.container{
    display: flex;
    gap: 20%;
    /* grid-template-columns: 1fr 3fr ; */
}


.pic{
    width: 25%;
    height: 50%;
    border-radius: 50%;
    padding-top: 3rem;
    
}
/* .pic{
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 40%; */
/* }   */ */

.description h3{
    margin-top: 5px;
}
.description h1{
    margin-bottom: 15px;
} 
.description{
    /* width: 50em; */
    /* height: 50%; */
}
